.container{ width:100%; }

.align-left{ float: left;width:48%; }
.align-right{ float: right;width:48%; }
.clearfix {
    overflow: auto;
}
.pad-left{
    margin-left: 0px;
}
.pad-right{
    margin-right: 0px;
}
